* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Style the body */
body {
  font-family: 'Roboto Slab', serif;
  letter-spacing: 0.1rem;
  line-height: 1.8em;
  overflow-x: hidden;
}

.fa {
  text-align: center;
  width: 8%;
  margin: auto;
  padding: auto;
  margin-right: 13px;
  font-size: 18px;
}
.fas {
  text-align: center;
  width: 8%;
  margin: auto;
  padding: auto;
  margin-right: 11px;
  font-size: 18px;
}
.fab {
  text-align: center;
  width: 8%;
  margin: auto;
  padding: auto;
  margin-right: 13px;
  font-size: 18px;
}

/* Header/logo Title */
#header {
  background: url('../img/bground.jpg') no-repeat center center/cover;
  /* background: #eee; */
  padding: 60px;
  text-align: center;
  font-size: 32px;
  /* background: #444; */
  color: white;
  line-height: 5rem;
  letter-spacing: 0.3rem;
  overflow: hidden;
  top: 0;
  opacity: 0;
  animation: fadeIn ease 1s 0.7s forwards;
}

.logo h1.animated {
  position: relative;
  overflow: hidden;
  left: -3000px;
  animation: shiftLeft ease 1.2s forwards;
}

.logo p.animated {
  position: relative;
  overflow: hidden;
  right: -3000px;
  animation: shiftRight ease 1.4s forwards;
}

/* Style the top navigation bar */
#navbar {
  display: flex;
  justify-content: center;
  background: #e2e2e2;
  position: sticky;
  top: 0;
  z-index: 1;
  overflow: hidden;
  opacity: 0;
  animation: fadeInLeft ease 1s 0.5s forwards;
  animation-iteration-count: 1;
  transition: background ease 0.3s;
}

#navbar.sticky {
  display: flex;
  background: rgba(0, 0, 0, 0.4);
  transform: scale(2, 3);
  transition: all ease 0.3s;
}
#navbar.sticky a {
  color: #ddd;
  transform: scale(0.7, 0.9);
}
#navbar.sticky a.active {
  color: #fff;
}
#navbar.sticky a:hover {
  color: #111;
}

/* Style the navigation bar links */
#navbar a {
  font-size: 24px;
  color: #777;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
  transition: 0.3s all ease;
}

#navbar a.active {
  color: #111;
  border-bottom: 2px solid #fff;
}

/* Change color on hover */
#navbar a:hover {
  background-color: #f1f1f1;
  color: #111;
}

#navbar .icon {
  display: none;
}

hr {
  border: 0.09em solid #e2e2e2; /* Убираем границу для браузера Firefox */
  color: #e2e2e2; /* Цвет линии для остальных браузеров */
  background: #e2e2e2;
  height: 1px; /* Толщина линии */
  padding: 0;
  overflow: hidden;
  margin: 0;
  opacity: 0;
  animation: fadeInLeft ease 1s 0.5s forwards;
}

/* Column container */
.row {
  display: flex;
  flex-wrap: wrap;
}

#side {
  flex: 30%;
  background-color: #f1f1f1;
  padding: 2% 2%;
  text-align: justify;
  overflow: hidden;
  opacity: 0;
  animation: fadeInLeft ease 0.9s 1.3s forwards;
}

#side p {
  opacity: 0;
  overflow: hidden;
  animation: fadeInLeft ease 1s 1.4s forwards;
}

.side-img {
  width: 100%;
  padding: 7%;
  margin: 1% 0%;
  max-height: auto;
  opacity: 0;
  animation: fadeIn ease 1s 2s forwards;
}

.side-img img {
  border-radius: 50%;
  width: 100%;
  border: 3px solid #666;
  margin: auto;
  display: block;
  overflow: hidden;
}

.main {
  flex: 70%;
  background-color: #fff;
  padding: 30px 20px 10px 150px;
  text-align: justify;
  overflow: hidden;
}

.news {
  letter-spacing: 0.1rem;
  line-height: 1.8em;
  padding: 5%;
  opacity: 0;
  animation: fadeIn ease 0.9s 1.3s forwards;
}
.news-img {
  width: 94%;
  max-height: 650px;
  overflow: hidden;
  /* padding: 20px; */
  padding-right: 0px;
}
.news-img img {
  max-width: 100%;
  min-width: 70%;
  max-height: 650px;
  border: none;
  /* margin: auto; */
  display: block;
  margin-bottom: 3%;
  overflow: hidden;
}

.news h2 {
  font-size: 34px;
}

.news h5 {
  font-size: 16px;
  margin: 15px;
}

/* Footer */
#footer {
  padding: 0;
  margin: 0;
  overflow: hidden;
}

#f-submit {
  padding: 100px;
  text-align: center;
  background: #ddd;
  color: #666;
  letter-spacing: 0.3rem;
}
#f-submit h2 {
  margin-bottom: 2%;
}
.form-group {
  margin: 10px;
  display: flex;
  justify-content: center;
  max-height: 50px;
}
.form-group input {
  padding: 13px 15px;
  width: 33%;
  margin: 0px 8px;
  border: none;
  border-radius: 20px;
  min-height: 40px;
  min-width: 200px;
}
.form-group button {
  padding: 8px 13px;
  color: #fff;
  background: #e03448;
  /* or green? :) */
  /* background: #60b864; */
  border: none;
  border-radius: 20px;
  font-weight: bold;
  max-width: 150px;
  min-width: 130px;
  cursor: pointer;
}
.form-group button:hover {
  background: #d03448;
  color: #eee;
}
#f-info {
  display: flex;
  color: #333;
  background: #eee;
  padding: 14px 20px;
  text-decoration: none;
  text-align: left;
  line-height: 2em;
}
#f-info h2 {
  border-bottom: 2px solid #333;
  margin-bottom: 4%;
  padding: 3% 0%;
  font-weight: bold;
}
#f-info a {
  text-decoration: none;
  color: #333;
}

#f-info .f-logo {
  margin: 4%;
  width: 35%;
}

.f-menu {
  margin: 3%;
  margin-left: 20%;
  width: 27%;
}

.f-menu li {
  list-style: none;
}

.f-contact {
  margin: 3%;
  width: 27%;
}
.f-contact li {
  list-style: none;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes shiftLeft {
  0% {
    left: -4000px;
  }
  100% {
    left: 0px;
  }
}
@keyframes shiftRight {
  0% {
    right: -4000px;
  }
  100% {
    right: 0px;
  }
}
/* translate()
rotate()
scale()
skewX()
skewY()
matrix() */

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(1000px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(-1000px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
